body{
    margin: 20px;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-picture{
    width: 150px;
}

.card-wrapper{
    display: flex;
    border: 1px dotted blue;
    padding: 30px;
    margin: 0 auto;
    background: gray;
    justify-content: space-around;
    width: 400px;
    text-align: center;

    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}


.intro-text{
    padding: 10px;
    border:1px dotted blue;
    font-style: italic;
}